body {
  margin: 0;
  padding: 0;
  background-image: url('./images/piano.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}
.headerWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: rgb(115, 32, 4);
  opacity: 0.8;
  color: white;
  font-size: 1.2rem;
}

.headerLinks {
  display: flex;
  gap: 1vw;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

.about {
  position: relative;
}
.aboutUsDropDown {
  top: calc(100% + 12px);
  left: 70%;
  width: auto;
}

.saleDropDown,
.aboutUsDropDown {
  position: absolute;
  padding: 20px;
  background-color: rgb(115, 32, 4);
  transform: translateX(-50%);
  font-size: 1.3rem;
  white-space: nowrap;
  list-style: none;
  border-radius: 5px;
  font-style: italic;
  height: 5vh;
}

.saleDropDown {
  top: calc(63% + 12px);
}

.newTag {
  font-size: 0.8rem;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.carouselContainer {
  width: 44.1vw;
  height: 70vh;
  opacity: 0.95;
  background-color: whitesmoke;
  grid-column-start: 2;
  overflow: hidden;
  position: relative;
  order: -1;
}

.imageContainer {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-out;
  grid-column-start: 2;
}

.active {
  background-color: lightblue !important;
}

.imgWrapper {
  padding: 20px;
  background-color: rgb(115, 32, 4);
}

.imgWrapper button {
  width: 18px;
  margin-left: 3px;
  height: 18px;
}

.imgWrapper button:hover {
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  height: 30px;
}

.buttonWrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  border-radius: 100%;
}

.imageContainer > img {
  translate: (50px, 0);
}

.carouselImg {
  height: 65vh;
  width: 42vw;
}

.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  font-weight: bold;
  opacity: 0.7;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
  border-radius: 100%;
}

.previous {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

@media (max-width: 768px) {
  .headerLinks {
    display: none;
  }

  .carouselContainer {
    width: 95vw;
    height: 70vh;
  }

  .imgWrapper {
    padding: 10px;
  }

  .carouselImg {
    width: 89vw;
  }

  .buttonWrapper button {
    height: 4.4vmin;
    width: 4.4vmin;
  }

  .headerWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  .dropDownIcon {
    order: 1;
    padding-left: 3vw;
  }

  .title {
    order: 2;
  }

  .dropDownContainer {
    top: 10vh;
    height: 80vh;
    width: 100%;
    background-color: burlywood;
    opacity: 0.95;
    padding-top: 5vh;
    font-size: 1.5rem;
    position: absolute;
  }

  .dropDownContainer ul {
    display: flex;
    height: 100%;
    flex-direction: column;

    align-items: center;
    font-size: 2.5rem;
    gap: 3.5vh;
  }

  .dropDownContainer ul,
  .sublists {
    list-style: none;
    margin: 0;
  }

  .sublists {
    padding: 0;
    gap: 4px !important;
  }

  .sublists li {
    font-size: 0.9rem;
  }
}
